@charset "UTF=8";
.content {
    font-size: 16px;
} 

.profile-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
}
.my-name {
    font-size: 16px;
    text-align: left;
    margin: 0 ;
}

.my-pic {
    margin-right: 80px;
    margin-top: 50px;
}

.heading {
    font-size: 24px;
    text-align: center;
    margin-top: 100px;
}

.skill {
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.skill-ps, 
.skill-ai,
.skill-xd,
.skill-coding {
    position: absolute;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.skill-ps {
    top: 70px;
    left: 100px;
}

.skill-ai {
    top: 70px;
    left: 650px;
}

.skill-xd {
    top: 300px;
    left: 100px;
}

.skill-coding {
    top: 300px;
    left: 650px;
}

.skill-icon img {
    margin-right: 30px;
}

.detail {
    font-size: 14px;
}

.strengths-detail,
.reasons {
    margin: 70px 20% 0;
}

.greeting {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}