@charset "UTF=8";
.content {
    font-size: 16px;
} 

.profile-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
}
.my-name {
    font-size: 16px;
    text-align: left;
    margin: 0 ;
}

.my-pic {
    margin-right: 80px;
    margin-top: 50px;
}

.skill {
    font-size: 24px;
    text-align: center;
    margin-top: 100px;
}

.skill-icon {
    display: flex;
    align-items: flex-start;
}

.skill-icon img {
    margin-right: 30px;
    
}

table {
    margin: 80px auto;
}

td, th {
    padding: 25px 30px;
}