@charset "UTF=8";

/* 共通部分 */
body {
    font-family: Yu Gothic,ヒラギノ角ゴ Pro, Hiragino Kaku Gothic Pro, Meiryo, sans-serif;
    line-height: 1.7;
    color: #404040;
    background-color: #fff;
    font-size: 0.9375em
}

p {
    letter-spacing: 0.2em;
}

a {
    text-decoration: none;
}

a:link,
a:visited, 
a:hover, 
a:active {
    color:#404040;
}

img {
    vertical-align: bottom;
}

.wrap {
    overflow: hidden;
}

/* Header */

.top-bg {
    background-image: url(../images/main-visual.jpg);
    width: 100%;
    /* min-height: 145vh; */
    background-color: #ffb8aa;
    background-size: cover;
    position: relative;
    height: 0;
    padding-top: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.header-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    padding-top: 40px;
    margin: 0 auto;
}

.navigation {
    max-width: 1000px;
    width: 94%;
}

.header-text ul {
    list-style: none;
    display: flex;
    letter-spacing: 0.5em;
    font-weight: bold;
    gap: 50px;
    justify-content: right;
}

li {
    color: #fff;
}

li a {
    color: #fff;
}

li a:link,
li a:visited, 
li a:hover, 
li a:active {
    color: #fff;
}

.site-title {
    padding-top: 14%;
    padding-left: 20px;
    font-size: 3em;
    color: #fff;
    letter-spacing: 0.3em;
    position: absolute;
}

/* .btn-trigger {
    position: absolute;
    right: 20px;
    width: 34px;
    height: 28px;
    transform: translateY(-50%);
    cursor: pointer;
}
.btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 4px;
}
.btn-trigger, .btn-trigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
}
.btn-trigger span:nth-of-type(1) {
    top: 0;
}
.btn-trigger span:nth-of-type(2) {
    top: 12px;
}
.btn-trigger span:nth-of-type(3) {
    bottom: 0;
}
#btn.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
}
#btn.active span:nth-of-type(2) {
    left: 50%;
    opacity: 0;
    animation: active-btn-bar02 .8s forwards;
}
@keyframes active-btn-bar02 {
    100% {
        height: 0;
    }
}
#btn.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
} */

/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
}

.menu-btn span {
    border: 1px solid white;
    width: 60%;
}

.menu-btn span::before {
    border: 1px solid white;
    width: 60%;
}


/*----------------------------
  * メニュー本体
  *----------------------------*/
.menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    opacity: .5;
}
.menu__item{
    width: 100%;
    height: auto;
    padding: 1em 1em;
    text-align: center;
    color: #00295d;
    box-sizing: border-box;
    font-size: 20px;
}

/*----------------------------
  * アニメーション部分
  *----------------------------*/

  /* アニメーション前のメニューの状態 */
.menu{
    transform: translateX(100vw);
    transition: all .3s linear;
}
  /* アニメーション後のメニューの状態 */
.menu.is-active{
    transform: translateX(0);
}



/* About */
#about {
    background-color: #ffb8aa;
    padding: 100px;
}

.white-box {
    margin: 0 auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
}

h2 {
    text-align: center;
    letter-spacing: 0.5em;
    font-size: 1.875em;
    margin: 100px auto 50px;
}

.info {
    gap: 3.125em;
    align-items: flex-start;
    padding: 5% 10%;
}

.info img {
    display: block;
    margin: 0 auto;
}

.name {
    letter-spacing: 0.3em;
    margin:  50px 0;
}

/* Works */

#works {
    background-color: #fff;
}

#works ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

#works li {
    margin: 0 20px 80px;
}

#works img {
    width: 300px;
    height: 300px;
}

.preview p {
    color: #404040;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

/* Skill */

#skill {
    background-color: #00295d;
    color: #fff;
    padding: 50px 150px 100px;
}

#skill ul {
    display: flex;
    margin: 100px 0;
}

#skill li {
    width: 50%;
    display: flex;
    align-items: flex-start;
}

#skill p {
    padding: 20px 30px 0 20px;
}

/* Contact */

#contact {
    padding: 10px 10% 50px;
}

#contact p {
    text-align: center;
    margin: 90px 0;
}

.links {
    text-align: center;
}

.links img {
    margin: 0 50px;
}

/* Footer */

footer {
    background-image: url(../images/footer.jpg);
    min-height: 20vh;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    background-repeat: no-repeat;
    background-position: center;
}

@media(max-width: 960px) {
    .site-title {
        font-size: 2.5rem;
    }

    #about {
        padding: 100px 70px;
    }

    #works ul {
        display: block;
        text-align: center;
    }

    #skill ul {
        display: block;
        margin: 0;
    }

    #skill li {
        width: 100%;
        margin-bottom: 80px;
    }
}

@media(max-width: 600px) {

    .site-title {
        font-size: 1em;
        margin: 0 auto;
    }

    .header-text {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 20px 0;
        margin: 0 auto;
    }

    .navigation {
        /* max-width: 960px;
        width: 100%;
        font-size: 0.7em;
        letter-spacing: 0.3em;
        display: flex; */
        display: none;
    }

    /* .header-text ul {
        list-style: none;
        letter-spacing: 0.5em;
        font-weight: bold;
        gap: 20px;
        display: flex;
    } */
    
    

    #about {
        padding: 100px 30px;
    }

    h2 {
        margin: 20px auto 50px;
    }

    .white-box {
        padding: 50px 20px;
    }

    .info {
        padding: 0;
    }

    .my-info p{
        margin-bottom: 100px;
    }

    #works {
        padding: 50px 30px;
    }

    #skill {
        padding: 50px 30px;
    }

    #contact {
        padding: 50px 30px;
    }

    .links img {
        margin: 10px;
    }
}