@charset "UTF=8";

/* 共通部分 */
body {
    font-family: "游ゴシック", "Yu Gothic" "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    line-height: 1.7;
    color: #404040;
    background-color: #fff;
    font-size: 0.9375em
}

p {
    letter-spacing: 0.2em;
}

a {
    text-decoration: none;
}

a:link,
a:visited, 
a:hover, 
a:active {
    color:#404040;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

/* header */

.top-bg {
    background-image: url(../images/main-visual.jpg);
    width: 100%;
    /* min-height: 145vh; */
    background-color: #ffb8aa;
    background-size: cover;
    position: relative;
    height: 0;
    padding-top: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.header-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    max-width: 960px;
    padding-top: 40px;
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
    letter-spacing: 0.5em;
    font-weight: bold;
    gap: 50px;
    justify-content: right;
}

li {
    color: #fff;
}

li a {
    color: #fff;
}

li a:link,
li a:visited, 
li a:hover, 
li a:active {
    color: #fff;
}

h1 {
    padding-top: 14%;
    padding-left: 20px;
    font-size: 3em;
    color: #fff;
    letter-spacing: 0.3em;
    position: absolute;
}


/* About */
#about {
    background-color: #ffb8aa;
    padding: 6.25em;
}

.white-box {
    margin: 0 auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
}

h2 {
    text-align: center;
    letter-spacing: 0.5em;
    font-size: 1.875em;
    margin: 100px auto 50px;
}

.info {
    gap: 3.125em;
    /* margin: 3.125em; */
    align-items: flex-start;
    padding: 5% 10%;
}

.info img {
    display: block;
    margin: 0 auto;
}

.name {
    letter-spacing: 0.3em;
    margin:  50px 0;
}

#works {
    background-color: #fff;
    padding: 50px 150px 100px;
}

.preview {
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

#skill {
    background-color: #00295d;
    color: #fff;
    padding: 50px 150px 100px;
}

.skill-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skill-item {
    align-items: flex-start;
    gap: 1.875em;
    margin: 30px 50px 70px;
}

.skill-item p {
    margin-top: 20px;
}

#contact {
    padding: 10px 10% 50px;
}

#contact p {
    text-align: center;
    margin: 90px 0;
}

.links {
    text-align: center;
}

.links img {
    margin: 0 50px;
}

footer {
    background-image: url(../images/footer.jpg);
    min-height: 20vh;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
