@charset "UTF=8";

.works {
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

/* 詳細の共通部分 */
h2 {
    font-size: 36px;
    margin-top: 50px;
    text-align: center;
}

.works-p {
    text-align: center;
}

.works-c {
    font-size: 24px;
    margin-top: 100px;
    border-bottom: 2px solid #000;
    padding-bottom: 30px;
    display :inline-block;
}

.main-visual {
    text-align: center;
    margin-top: 100px;
}

h3 {
    font-size: 16px;
    text-align: center;
    margin-top: 70px;
}

.outline {
    font-size: 16px;
    margin-top: 50px;
    margin-left: 360px;
    line-height: 200%;
}

.tools {
    font-size: 16px;
    margin-top: 50px;
    text-align: center;
    line-height: 200%;
}

/* 画像 */
.circle-p {
    text-align: center;
    margin-top: 50px;
}

.circle-b {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #474343;
    border-radius: 50%;
    margin-right: 50px;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #b1b1b1;
    border-radius: 50%;
    margin-right: 50px;
}

.circle-l {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #b1b1b1;
    border-radius: 50%;
}

/* banner */
.main-visual-banner {
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* .circle-p {
    text-align: center;
    margin-top: 50px;
}

.circle-1 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #474343;
    border-radius: 50%;
    margin-right: 50px;
}

.circle-2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #b1b1b1;
    border-radius: 50%;
    margin-right: 50px;
}

.circle-3 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #b1b1b1;
    border-radius: 50%;
    margin-right: 50px;
}

.circle-4 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #b1b1b1;
    border-radius: 50%;
    margin-right: 50px;
}

.circle-5 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #b1b1b1;
    border-radius: 50%;
} */
